PORT=

# NODE_ENV=
NODE_ENV=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=


JWT_ACCESS_SECRET=
JWT_ACCESS_TIME=
JWT_REFRESH_SECRET=
JWT_REFRESH_TIME=

# GOOGLE_EMAIL=
GOOGLE_APP_PASSWORD=

BOT_TOKEN=

BASE_URL=

RESET_PASSWORD_SECRET=

RESET_PASSWORD_EXPIRE=